body{
  background-color: black;
}
.header-component{
  background-image: url('./asset/bg1.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
}
.card-component{
  display: flex;
  align-items: start;
  justify-items: center;
  flex-direction: row;
  margin: 0px 40px 0px 45px;
  width: 1110px;
    overflow: scroll;
}


.card-component::-webkit-scrollbar{
display: none;
}